## Esra Cesur

## 0. Verisetinin import edilmesi

In [2]:
import pandas as pd

df_titanic = pd.read_csv("/kaggle/input/titanic/train.csv")

## 1. Kazada ölenlerin yaş ortalamasını bulunuz.

In [3]:
mean_age_dead = df_titanic[df_titanic["Survived"] == 0]["Age"].mean()
print("Kazada Ölenlerin Yaş Ortalaması:", mean_age_dead)

Kazada Ölenlerin Yaş Ortalaması: 30.62617924528302

## 2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [4]:
fare_mean_dead = df_titanic[df_titanic["Survived"] == 0]["Fare"].mean()
fare_median_dead = df_titanic[df_titanic["Survived"] == 0]["Fare"].median()
print("Kazada ölenlerin bilet fiyatlarının medyanı:", fare_median_dead)

Kazada ölenlerin bilet fiyatlarının medyanı: 10.5

## 3. Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [5]:
mean_age_dead_male = df_titanic[(df_titanic["Survived"] == 0) & (df_titanic["Sex"] == "male")]["Age"].mean()
print("Kazada ölen erkeklerin yaş ortalaması:", mean_age_dead_male)

Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

## 4. Kazada ölen Kadınların yaş ortalamasını bulunuz

In [6]:
mean_age_dead_female = df_titanic[(df_titanic["Survived"] == 0) & (df_titanic["Sex"] == "female")]["Age"].mean()
print("Kazada ölen kadınların yaş ortalaması:", mean_age_dead_female)

Kazada ölen kadınların yaş ortalaması: 25.046875

## 5. Kazadan kurtulanların yaş ortalamasını bulunuz

In [7]:
mean_age_survived = df_titanic[df_titanic["Survived"] == 1]["Age"].mean()
print("Kazadan kurtulanların yaş ortalaması:", mean_age_survived)

Kazadan kurtulanların yaş ortalaması: 28.343689655172415

## 6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [8]:
mean_fare_survived = df_titanic[df_titanic["Survived"] == 1]["Fare"].mean()
print("Kazadan kurtulanların bilet fiyatlarının ortalaması:", mean_fare_survived)

Kazadan kurtulanların bilet fiyatlarının ortalaması: 48.39540760233918

## 7. Kazadan kurtulan toplam kişi sayısını bulunuz… (tüyo: len(df_titanic[(df_titanic.Survived==1)] kodu ile de bu sayıya ulaşabilirsiniz.)

In [9]:
survived_count = len(df_titanic[df_titanic["Survived"] == 1])
print("Kazadan kurtulan toplam kişi sayısı:", survived_count)

Kazadan kurtulan toplam kişi sayısı: 342

# 8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [11]:
median_fare_under_10 = df_titanic[df_titanic["Age"] < 10]["Fare"].median()
print("10 yaşından küçüklerin bilet fiyatlarının medyanı:", median_fare_under_10)

10 yaşından küçüklerin bilet fiyatlarının medyanı: 27.0

## 9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [12]:
pclass_fare_stats = df_titanic.groupby("Pclass")["Fare"].agg(["mean", "median"])
print("Sınıflara göre bilet fiyatlarının ortalama ve medyanları:\n", pclass_fare_stats)

Sınıflara göre bilet fiyatlarının ortalama ve medyanları:
              mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

## 10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

In [13]:
total_males = len(df_titanic[df_titanic["Sex"] == "male"])
total_females = len(df_titanic[df_titanic["Sex"] == "female"])

dead_males = len(df_titanic[(df_titanic["Sex"] == "male") & (df_titanic["Survived"] == 0)])
dead_females = len(df_titanic[(df_titanic["Sex"] == "female") & (df_titanic["Survived"] == 0)])

dead_male_ratio = dead_males / total_males
dead_female_ratio = dead_females / total_females

print("Kazada ölen erkek oranı:", dead_male_ratio)
print("Kazada ölen kadın oranı:", dead_female_ratio)

Kazada ölen erkek oranı: 0.8110918544194108
Kazada ölen kadın oranı: 0.25796178343949044